.bottom .rectangle
{
    position: absolute;
    left: 0%;
    top: 279%;
    background: #F8FEFF;
    width: 100%;
    height: 35%;
    z-index: 2;
}

.bottom .logo
{
    position: absolute;
    left: 11%;
    top: 290%;
    width: 17.46%;
    height: auto;
    z-index: 3;
}

.bottom .wechat
{
    position: absolute;
    left: 11%;
    top: 298%;
    width: 2.73%;
    height: auto;
    z-index: 3;
}

.bottom .qq
{
    position: absolute;
    left: 14%;
    top: 298%;
    width: 2.73%;
    height: auto;
    z-index: 3;
}

.bottom .map
{
    position: absolute;
    left: 17%;
    top: 298%;
    width: 2.73%;
    height: auto;
    z-index: 3;
}

.bottom .text-1
{
    color: #454545;
    font-family: HONOR Sans;
    font-size: 120%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 35%;
    top: 288%;
    width: auto;
    height: auto;
    z-index: 3;
}

.bottom .text-2
{
    color: #454545;
    font-family: HONOR Sans;
    font-size: 120%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 35%;
    top: 293%;
    width: auto;
    height: auto;
    z-index: 3;
}

.bottom .text-3
{
    color: #454545;
    font-family: HONOR Sans;
    font-size: 120%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 35%;
    top: 298%;
    width: auto;
    height: auto;
    z-index: 3;
}

.bottom .slogan
{
    position: absolute;
    right: 7%;
    top: 289%;
    width: auto;
    height: 10%;
    z-index: 3;
}